<!-- Author : @mamun0024 -->
{% extends "layout.html" %}
{% block content %}
<div id="sign-father">
    <div id="sign-in">
        <div id="message">
            <span style='color: green;'>Please Login First</span>
        </div>
        <form method="POST" name="user_entry" action="{% url 'auth:user_login' %}">
            {% csrf_token %}
            <label for="login">Email</label>
            <input type="text" name="email" placeholder="Email" required autocomplete="off">

            <label for="pass">Password</label>
            <input type="password" name="password" placeholder="Password" required autocomplete="off">

            <input type="submit" name="submit" value="Login">
        </form>
    </div>
</div>
{% endblock %}
