{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
{% include 'project/project_header.html' %}
<div class="p_up">
        <div class="p_up_left">
            <h1></h1>
            <p>Project Lead</p>
        </div>
        <div class="p_up_right">
            <p>Project Creation Date : </p>
            <div class="clear"></div>
            <p>Estimated Project Deadline : </p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="p_middle">
        <div class="p_middle_left">
            <h1>Team Members</h1>
            <div id="lead_member">
                <p id="lead">Lead Members</p>
            <p>tese</p>
            </div>
            <div id="general_member">
                <p id="general">General Members</p>
              <p>test</p>
            </div>
        </div>
        <div class="p_middle_right">
            <h1>
                <span>Project Stream</span>
                <!--a href="project_home.php?ID=<?php echo $project_ID; ?>">Browse all activity</a-->
            </h1>
            <div class="clear"></div>
            <div id="project_stream">
                <div class="stream_details">
                    <p>date</p>
                    <a href="project_ticket_details.php?ID=<?php echo $project_ID; ?>&t_ID=<?php echo $nested_item['ticket_ID']; ?>&c_ID=<?php echo $nested_item['creator_ID']; ?>">
                        <div class="stream_data">
                            <div class="stream_time"></div>
                            <div class="stream_status_m">
                                <div class="stream_status">
                                    <span></span> - updated
                                    <span></span>
                                </div>

                                <div class="stream_status_change">
                                    <span>Status</span> changed from <span></span> to <span>
                                </div>

                                <div class="stream_comment">
                                    commented - <span>""</span>
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </a>

                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
 {% include 'project/project_footer.html' %}
 {% endblock %}
