<!-- Author : @mamun0024 -->
{% include 'menu.html' %}
<div id="block">
    <div id="main-block">
        <div class="dashboard_general">
            <div class="main-block-title">
                <div id="bread-crumps">
                    <div style="height: 20px; line-height: 23px;">
                        <a id="home_logo" href="{% url 'project:projects' %}">All Project</a>»<a style="color: #767676;">Project Name</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="project_name">
                <h1>Project Name</h1>
            </div>
            <div id="nav_container">
                {% include 'project/project_menu.html' %}
            </div>
            <div class="main-block-padding">
                <div id="project_page">