<div id="nav-menu" style="display: block;">
    <ul>
        <li><a id="dashboard-icon">Dashboard</a></li>
        <li><a id="dashboard-icon">Dashboard</a></li>
        <li><a id="dashboard-icon">Dashboard</a></li>
    </ul>
</div>
<div id="block">
    <div id="main-block">
        <div class="dashboard_general">
            <div class="main-block-title">
                <div id="bread-crumps">
                    <div style="height: 20px; line-height: 23px;">
                        <a id="home_logo" style="color: #767676;">Dashboard</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="main-block-padding">
                Home Value
            </div>
        </div>
    </div>
</div>