<!-- Author : @mamun0024 & Rejoan -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Project Management Tool</title>
    {% include 'stylesheets.html' %}
    <script type="text/javascript" src="{% static 'lib/jquery/jquery.js' %}"></script>
</head>
<body>
    <div id="main-container">
        {% include 'header.html' %}

        <div id="container">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <p>Copyright &copy; 2009 - 2015 Spinytel | Design &amp; Developed by <a target="_blank" href="http://zemdialer.com">Spinytel</a></p>
        </div>
    </div>
    {% include 'javascript.html' %}
</body>
</html>
